MEMBERS_HOST=127.0.0.1
MEMBERS_PORT=8100
MEMBERS_AUTH=github
MEMBERS_SESSION_SECRET=change-me-long-random
MEMBERS_SESSION_MAX_AGE=28800
MEMBERS_GITHUB_CLIENT_ID=
MEMBERS_GITHUB_CLIENT_SECRET=
MEMBERS_GITHUB_ORG=HafeziGroupJQI
MEMBERS_GITHUB_TEAM=lab-members
MEMBERS_BASE_URL=http://127.0.0.1:8100
MEMBERS_PUBLIC_SITE_URL=https://hafezigroupjqi.github.io
MEMBERS_C2_URL=http://127.0.0.1:8000
MEMBERS_SITE_PATH=.cache/private-site
